* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v23-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/montserrat-v23-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v23-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/montserrat-v23-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/montserrat-v23-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v23-latin-regular.svg#Montserrat") format("svg"); /* Legacy iOS */
}

.menu {
  height: 100px;
  background-color: #ffffff;
  box-shadow: 00px 4px 7px 0px #81818140;
  display: flex;
  justify-content: space-between;
}
.header {
  padding: 0 50px;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
}
.menu__ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  text-decoration: none;
  border: none;
  padding-left: 40px;
}

.menu__link {
  color: #000000;
  font-weight: 300;
  font-size: 16px;
  margin: 0; /* Обнуляем значение отступов */
  text-decoration: none;
  margin: 0 10px;
  flex-wrap: wrap;
}

.menu__link:hover {
  color: #05a88d;
}
.menu__li {
  display: flex;
  justify-content: space-between;
  justify-content: flex-start;
  align-items: center;
}

.menu__logo {
  color: #05a88d;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  padding-left: 150px;
  padding-right: 150px;
}

.three {
  color: #05a88d;
}

.menu__signup {
  color: #05a88d;
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #05a88d;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 12.5px;
}

.menu__login {
  color: #05a88d;
  border: none;
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  padding-left: 69.5px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-color: #15638F;
}

.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 322px;
  margin: 68px auto;
  background: #FFFFFF;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.card__image {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 142.36px;
  background: url(https://source.unsplash.com/T7K4aEPoGGk/1600x900);
  border-radius: 10px 10px 0px 0px;
  cursor: pointer;

}

.card__content {
  background: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 16px;
  box-shadow: 0px 0px 7px 0px #0000004D;
  cursor: auto;
}

.card__title {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  margin: 16px 55px 16px 16px;
}

.card__text {
  display: flex;
  width: 165px;
  height: 72.74px;
  font-weight: 300;
  font-size: 10px;
  line-height: 14px;
  margin: 16px;

}

.card__btn {
  width: 98px;
  height: 27px;
  border: none;
  background: #2797B2;
  border-radius: 50px;
  margin: 0 0 25px 16px;
  color: #FFFFFF;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
}

.card__btn:hover {
  box-shadow: 1px -1px 2px gray;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;

  background-color: #05A88D;
  padding: 40px;


}

.footer__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;

}

.logo {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  text-transform: capitalize;
  color: #F1E67D;
  text-decoration: none;


}

.text {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}



.footer__right {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 22px;

}

.contact {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 58px;
}

.phone {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #F1E67D;
  display: block;
  text-decoration: none;
}


.address {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #FFFFFF;

}
